*.log
*.pot
*.pyc
local_settings*
*.swp
.exrc
gsc_friend
gsc_gree
gsc_part0
gsc_survey
gsc_trade
.DS_Store
.coverage
*.rdb
application/build/*
application/src/*
.idea
.sass-cache
tags
.noseids
application/static/.tmp
._*
.settings/
.pydevproject
.ropeproject
*.komodoproject
browser_scripts/tmp/*
static.local
application/static/js/package.js.map
Thumbs.db
.ctags
.tags
.tags_sorted_by_file
.treehash
